---
import PageLayout from "~/components/layout/PageLayout.astro";

const { generator, site } = Astro;
const image = new URL("logo.png", site);
const meta = {
  title: "Incresco Technology Solutions - Dream to Digital",
  description:
    "Incresco is a leading web and mobile app development company that offers customized solutions to help businesses transform digitally. Our services include web development, mobile app development, UI/UX design, e-commerce development, and digital marketing. We use agile methodologies and innovative techniques to deliver high-quality solutions that are scalable, secure, and user-friendly. Partner with us to achieve your business objectives and drive growth in the digital world.",
  dontUseTitleTemplate: true,
  image,
};
---

<PageLayout sticky={false} meta={meta}>
  <section class="flex h-full items-center p-16">
    <div
      class="container mx-auto my-8 flex h-full flex-col items-center justify-center px-5"
    >
      <div class="h-5/6 max-w-md text-center">
        <h2 class="mb-8 font-bold text-9xl">
          <span class="sr-only">Error</span>
          <span class="text-primary">404</span>
        </h2>
        <p class="font-semibold text-3xl md:text-3xl">
          Sorry, we couldn't find this page.
        </p>
        <p class="text-muted mt-4 mb-8 text-lg dark:text-slate-400">
          But dont worry, you can find plenty of other things on our homepage.
        </p>
        <a rel="noopener noreferrer" href={site} class="btn m-4"
          >Back to homepage</a
        >
      </div>
    </div>
  </section>
</PageLayout>
