---
import { Picture, Image } from "@astrojs/image/components";

import { CollectionEntry, getCollection } from "astro:content";
import PageLayout from "~/components/layout/PageLayout.astro";
export const prerender = true;
export async function getStaticPaths() {
  const pages = await getCollection("pages");
  return pages.map((page) => {
    return {
      params: { slug: page.slug },
      props: { page },
    };
  });
}
const { page } = Astro.props as { page: CollectionEntry<"pages"> };
const { seo, updated_date } = page.data;
const { Content } = await page.render();

const { generator, site } = Astro;
const image = new URL("logo.png", site);
const meta = {
  title: "Incresco Technology Solutions - Dream to Digital",
  description:
    "Incresco is a leading web and mobile app development company that offers customized solutions to help businesses transform digitally. Our services include web development, mobile app development, UI/UX design, e-commerce development, and digital marketing. We use agile methodologies and innovative techniques to deliver high-quality solutions that are scalable, secure, and user-friendly. Partner with us to achieve your business objectives and drive growth in the digital world.",
  dontUseTitleTemplate: true,
  image,
};

const widths = [450, 800, 1200];
const sizes = "100vw";
---

<PageLayout meta={meta}>
  <div
    class="align-center my-32 mx-4 flex min-h-screen flex-col items-center justify-center overflow-hidden py-24"
  >
    <div class="align-center max-w-6xl">
      <p class="code align-center text-center">
        Last updated on {
          updated_date.toLocaleDateString("en-US", { dateStyle: "long" })
        }
      </p>
      <h1 class="pt-3 pb-10 text-center text-xl">{seo.title}</h1>

      <div
        class="align-center prose-md prose-headings:font-heading prose-headings:leading-tighter mt-8x prose-lg mx-auto px-3 prose-headings:tracking-tighter prose-a:text-primary prose-img:rounded-md prose-img:shadow-lg dark:prose-invert dark:prose-a:text-blue-400 sm:px-6 lg:prose-xl"
      >
        <Content />
      </div>
    </div>
  </div>
</PageLayout>
