---
import PageLayout from "~/components/layout/PageLayout.astro";
import ContactForm from "~/components/home/ContactForm.astro";
import { useStoryblokApi } from "@storyblok/astro";

const { generator, site } = Astro;
const image = new URL("logo.png", site);
const meta = {
  title: "Incresco Technology Solutions - Dream to Digital",
  description:
    "Incresco is a leading web and mobile app development company that offers customized solutions to help businesses transform digitally. Our services include web development, mobile app development, UI/UX design, e-commerce development, and digital marketing. We use agile methodologies and innovative techniques to deliver high-quality solutions that are scalable, secure, and user-friendly. Partner with us to achieve your business objectives and drive growth in the digital world.",
  dontUseTitleTemplate: true,
  image,
};
const storyblokApi = useStoryblokApi();
let content;
try {
  const { data } = await storyblokApi.get(
    "cdn/stories/global-components/landing-page",
    { version: import.meta.env.DEV ? "draft" : "published" }
  );
  content = data.story.content;
} catch (error) {}
---

<PageLayout meta={meta}>
  <div class="my-32 mx-4">
    <ContactForm contactSection={content?.contactSection} />
  </div>
</PageLayout>
