---
---

<section
  id="contact"
  class="flex scroll-mt-24 flex-col items-center gap-4 space-y-8"
>
  <form
    action="https://crm.zoho.in/crm/WebToLeadForm"
    name="WebToLeads489377000000280093"
    method="POST"
    onSubmit='javascript:document.charset="UTF-8"; return checkMandatory489377000000280093()'
    accept-charset="UTF-8"
  >
    <input
      type="text"
      style="display:none;"
      name="xnQsjsdp"
      value="548dd866c5336094f365029ec72cbe95aaf13c9f80afcd98b3ee7f598b65344e"
    />

    <input
      type="text"
      style="display:none;"
      name="xmIwtLD"
      value="c111c8a00484197561a07424d0ebed27281e327e766c40648e7a7bfc26466fdd"
    />
    <input
      type="text"
      style="display:none;"
      name="actionType"
      value="TGVhZHM="
    />
    <input
      type="text"
      style="display:none;"
      name="returnURL"
      value="https://increscotech.com/thanks"
    />

    <!-- Do not remove this code. -->
    <style>
      html,
      body {
        margin: 0px;
        font-family: "Poppins", sans-serif;
      }

      #crmWebToEntityForm.zcwf_lblLeft {
        width: 100%;
        padding: 25px;
        border: 1px solid #d43f37;
        box-sizing: border-box;
        background-color: #ffffff;
      }

      #crmWebToEntityForm.zcwf_lblLeft * {
        box-sizing: border-box;
      }

      #crmWebToEntityForm {
        text-align: left;
      }

      #crmWebToEntityForm * {
        direction: ltr;
      }

      .zcwf_lblLeft .zcwf_title {
        word-wrap: break-word;
        padding: 0px 6px 10px;
        font-weight: bold;
        text-align: center;
        color: #d43f37;
        font-size: 24px;
      }

      .zcwf_lblLeft .zcwf_col_lab {
        font-size: 16px;
        font-weight: bold;
        padding-right: 10px;
        margin-top: 10px;
        color: #333;
      }

      .zcwf_lblLeft .zcwf_col_fld input[type="text"],
      .zcwf_lblLeft .zcwf_col_fld input[type="email"],
      .zcwf_lblLeft .zcwf_col_fld textarea,
      .zcwf_lblLeft .zcwf_col_fld select {
        width: 100%;
        height: 40px;
        padding: 5px;
        border: none;
        border-bottom: 2px solid #ccc;
        font-size: 16px;
        margin-bottom: 20px;
        box-shadow: none;
        transition: all 0.3s ease;
      }

      .zcwf_lblLeft .zcwf_col_fld input[type="text"]:focus,
      .zcwf_lblLeft .zcwf_col_fld input[type="email"]:focus,
      .zcwf_lblLeft .zcwf_col_fld textarea:focus {
        border-bottom: 2px solid #d43f37;
        outline: none;
      }

      .zcwf_lblLeft .zcwf_row {
        display: flex;
        flex-direction: row;
        margin-bottom: 20px;
      }

      .zcwf_lblLeft .zcwf_col_fld {
        flex: 1;
      }

      .zcwf_lblLeft .zcwf_col_help {
        font-size: 14px;
        margin-left: 7px;
        color: #666;
      }

      .zcwf_lblLeft .zcwf_button {
        font-size: 16px;
        color: #fff;
        background-color: #d43f37;
        border: none;
        padding: 10px 20px;
        border-radius: 4px;
        cursor: pointer;
        transition: all 0.3s ease;
        width: 100%;
      }

      .zcwf_lblLeft .zcwf_button:hover {
        background-color: #c6372f;
      }

      .zcwf_lblLeft .zcwf_privacy_txt {
        font-size: 14px;
        font-family: Arial;
        color: #666;
        margin-top: 20px;
      }
    </style>

    <body>
      <div id="crmWebToEntityForm" class="zcwf_lblLeft">
        <div class="zcwf_title">Campus Drive Registration</div>
        <div class="zcwf_row">
          <div class="zcwf_col_lab">
            <label for="First_Name"
              >First Name<span style="color:red;">*</span></label
            >
          </div>
          <div class="zcwf_col_fld">
            <input
              class="text-gray-900 placeholder-gray-500"
              type="text"
              id="First_Name"
              name="First Name"
              maxlength="40"
            />
          </div>
          <div class="zcwf_col_help"></div>
        </div>

        <div class="zcwf_row">
          <div class="zcwf_col_lab">
            <label for="Last_Name"
              >Last Name<span style="color:red;">*</span></label
            >
          </div>
          <div class="zcwf_col_fld">
            <input
              class="text-gray-900 placeholder-gray-500"
              type="text"
              id="Last_Name"
              name="Last Name"
              maxlength="80"
            />
          </div>
          <div class="zcwf_col_help"></div>
        </div>

        <div class="zcwf_row">
          <div class="zcwf_col_lab">
            <label for="Email">Email<span style="color:red;">*</span></label>
          </div>
          <div class="zcwf_col_fld">
            <input
              class="text-gray-900 placeholder-gray-500"
              type="text"
              ftype="email"
              id="Email"
              name="Email"
              maxlength="100"
            />
          </div>
          <div class="zcwf_col_help"></div>
        </div>

        <div class="zcwf_row">
          <div class="zcwf_col_lab">
            <label for="Company"
              >College/University Name<span style="color:red;">*</span></label
            >
          </div>
          <div class="zcwf_col_fld">
            <input
              class="text-gray-900 placeholder-gray-500"
              type="text"
              id="Company"
              name="Company"
              maxlength="200"
            />
          </div>
          <div class="zcwf_col_help"></div>
        </div>

        <div class="zcwf_row">
          <div class="zcwf_col_lab"><label for="Website">Website</label></div>
          <div class="zcwf_col_fld">
            <input
              class="text-gray-900 placeholder-gray-500"
              type="text"
              id="Website"
              name="Website"
              maxlength="255"
            />
          </div>
          <div class="zcwf_col_help"></div>
        </div>

        <div class="zcwf_row">
          <div class="zcwf_col_lab">
            <label for="No_of_Employees"
              >No. of Students &#x28;approx&#x29;</label
            >
          </div>
          <div class="zcwf_col_fld">
            <input
              class="text-gray-900 placeholder-gray-500"
              type="text"
              id="No_of_Employees"
              name="No of Employees"
              maxlength="9"
            />
          </div>
          <div class="zcwf_col_help"></div>
        </div>

        <div class="zcwf_row wfrm_fld_dpNn">
          <div class="zcwf_col_lab">
            <label for="Lead_Source">Lead Source</label>
          </div>
          <div class="zcwf_col_fld">
            <select
              id="Lead_Source"
              name="Lead Source"
              class="text-gray-900 placeholder-gray-500"
            >
              <option value="-None-">-None-</option>
              <option value="Advertisement">Advertisement</option>
              <option value="Cold Call">Cold Call</option>
              <option value="Employee Referral">Employee Referral</option>
              <option value="External Referral">External Referral</option>
              <option value="Partner">Partner</option>
              <option value="Public Relations">Public Relations</option>
              <option value="Trade Show">Trade Show</option>
              <option value="Seminar Partner">Seminar Partner</option>
              <option value="Online Store">Online Store</option>
              <option value="Chat">Chat</option>
              <option value="Web Research">Web Research</option>
              <option value="Twitter">Twitter</option>
              <option value="Facebook">Facebook</option>
              <option value="Google+">Google&#x2b;</option>
              <option selected value="LinkedIn">LinkedIn</option>
              <option value="Marketing page - Incresco"
                >Marketing page - Incresco</option
              >
              <option value="Marketing page - CampEd"
                >Marketing page - CampEd</option
              >
            </select>
            <div class="zcwf_col_help"></div>
          </div>
        </div>
        <div class="zcwf_row">
          <input
            type="submit"
            id="formsubmit"
            class="formsubmit zcwf_button"
            value="Submit"
            title="Submit"
          />
        </div>
        <div class="zcwf_privacy_txt">
          By submitting this form, you agree to our <a href="/privacy-policy"
            >Privacy Policy</a
          >.
        </div>
      </div>

      <script>
        function validateEmail489377000000280093() {
          var form = document.forms["WebToLeads489377000000280093"];
          var emailFld = form.querySelectorAll("[ftype=email]");
          var i;
          for (i = 0; i < emailFld.length; i++) {
            var emailVal = emailFld[i].value;
            if (emailVal.replace(/^\s+|\s+$/g, "").length != 0) {
              var atpos = emailVal.indexOf("@");
              var dotpos = emailVal.lastIndexOf(".");
              if (
                atpos < 1 ||
                dotpos < atpos + 2 ||
                dotpos + 2 >= emailVal.length
              ) {
                alert("Please enter a valid email address. ");
                emailFld[i].focus();
                return false;
              }
            }
          }
          return true;
        }

        function checkMandatory489377000000280093() {
          var mndFileds = new Array(
            "Company",
            "First Name",
            "Last Name",
            "Email"
          );
          var fldLangVal = new Array(
            "College\x2FUniversity\x20Name",
            "First\x20Name",
            "Last\x20Name",
            "Email"
          );
          for (i = 0; i < mndFileds.length; i++) {
            var fieldObj =
              document.forms["WebToLeads489377000000280093"][mndFileds[i]];
            if (fieldObj) {
              if (fieldObj.value.replace(/^\s+|\s+$/g, "").length == 0) {
                if (fieldObj.type == "file") {
                  alert("Please select a file to upload.");
                  fieldObj.focus();
                  return false;
                }
                alert(fldLangVal[i] + " cannot be empty.");
                fieldObj.focus();
                return false;
              } else if (fieldObj.nodeName == "SELECT") {
                if (
                  fieldObj.options[fieldObj.selectedIndex].value == "-None-"
                ) {
                  alert(fldLangVal[i] + " cannot be none.");
                  fieldObj.focus();
                  return false;
                }
              } else if (fieldObj.type == "checkbox") {
                if (fieldObj.checked == false) {
                  alert("Please accept  " + fldLangVal[i]);
                  fieldObj.focus();
                  return false;
                }
              }
              try {
                if (fieldObj.name == "Last Name") {
                  name = fieldObj.value;
                }
              } catch (e) {}
            }
          }
          if (!validateEmail489377000000280093()) {
            return false;
          }
          document
            .querySelector(".crmWebToEntityForm .formsubmit")
            .setAttribute("disabled", true);
        }

        function tooltipShow489377000000280093(el) {
          var tooltip = el.nextElementSibling;
          var tooltipDisplay = tooltip.style.display;
          if (tooltipDisplay == "none") {
            var allTooltip =
              document.getElementsByClassName("zcwf_tooltip_over");
            for (i = 0; i < allTooltip.length; i++) {
              allTooltip[i].style.display = "none";
            }
            tooltip.style.display = "block";
          } else {
            tooltip.style.display = "none";
          }
        }
      </script>
      <!-- Do not remove this --- Analytics Tracking code starts -->
      <script
        id="wf_anal"
        src="https://crm.zohopublic.in/crm/WebFormAnalyticsServeServlet?rid=c111c8a00484197561a07424d0ebed27281e327e766c40648e7a7bfc26466fddgid548dd866c5336094f365029ec72cbe95aaf13c9f80afcd98b3ee7f598b65344egid534cb20477b1d28b5f45f7cc241888c5gid4ee3a7e9ace6ab1be7c541b329164307&tw=096a715cbfc30dc79d6dc215bf71c5b4284d938378e51186a6daa9337f7519a8"
      ></script>
      <!-- Do not remove this --- Analytics Tracking code ends. -->
    </body>
  </form>
</section>
