---
import { useStoryblokApi } from "@storyblok/astro";
import { Icon } from "astro-icon";
import type { FooterLink } from "~/types";

const storyblokApi = useStoryblokApi();

let content, linkSection;
const { data } = await storyblokApi.get(
  "cdn/stories/global-components/footer-component",
  { version: import.meta.env.DEV ? "draft" : "published" }
);
content = data.story.content;
linkSection = data.story.content.footerSection;
---

<footer class="relative flex h-32 flex-col items-center justify-center">
  <ul class="relative grid grid-cols-3 gap-8">
    {
      linkSection?.map((link: any) => (
        <li>
          <a
            class="flex h-16 w-16 items-center justify-center rounded-full  p-2"
            href={link.url}
          >
            <span class="sr-only">{link.footerBlockItems}</span>
            <Icon class="h-full" name={link.icon} />
          </a>
        </li>
      ))
    }
  </ul>
  <div set:html={content.bottomBanner[0].embedCode} />
</footer>
